.navbar {
    background-color: lightgrey;
}

.rosminilogo {
    width: 200px;
    length: 200px
}
.buttontxt {
    color: black;
}
.hometxt {
    color: black;
}
.charity {
    font-size: 60px;
    padding-right: 200px;
}

.navhome{

}
.navbuttons {

}